@import "variables";

.productos-pack {
  justify-content: center;
  margin: 20px 10px 10px 10px;
  img {
    width: $img-w-l;
    border: $border-light;
    padding: 2px;
    cursor: pointer;
  }
}

.eventos {
  width: 100%;
  img {
    width: 100%;
  }
  div {
    margin: 0 2px;
  }
}
.container__combos {
  flex-wrap: wrap;
  justify-content: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

@media all and (min-width: 768px) {
  .display-mob {
    display: block !important;
  }
  .productos-pack img {
    width: $img-w-xl;
  }
}

@media all and (min-width: 1100px) {
  .display-tab {
    display: block !important;
  }
  .productos-pack img {
    width: $img-w-xl;
  }
}
