@import "variables";

.myModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #666;
  z-index: 10;
  padding: 10px;
  font-family: $fuente;

  .close--modal {
    align-self: flex-end;
    border: none;
    background-color: white;
    svg {
      fill: black;
      width: 25px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  h2 {
    text-align: center;
  }
  img {
    width: 120px;
    margin: 20px;
  }
  table {
    text-align: justify;
    tr {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    td {
      width: 200px;
      margin-top: 10px;
    }
    .table--data {
      text-align: end;
      margin-right: 10px;

      width: 120px !important;
    }
  }
  .comprar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    height: 216px;
    width: 270px;
    input {
      width: 50px;
      margin-bottom: 30px;
    }
    button {
      justify-self: flex-end;
    }
    .btn--agregar {
      svg {
        fill: white;
        width: 20px;
      }
    }
    .precio--unitario {
      font-size: 1rem;
      color: rgb(88, 88, 88);
    }
    .descuento {
      color: rgb(132, 170, 106);
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.container__modal--carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 38%;
  top: 50%;
  width: 320px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  animation-delay: 2s;
  animation-duration: 1s;
  box-shadow: 2px 2px 5px #666;
  svg {
    width: 20px;
    fill: white;
    animation: heartBeat;
    animation-duration: 2s;
  }
  p {
    font-family: $fuente;
    color: white;
    margin: 0 10px;
  }
}
.close--modal {
  &::-moz-focus-inner {
    border: 0;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

@media all and (max-width: 375px) {
  .myModal {
    h2 {
      font-size: 1rem;
    }
    img {
      width: 50px !important;
    }
    .container__data {
      // max-height: 300px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .comprar__container {
        margin: 5px !important;
        height: 216px;
        width: 160px;
      }
      label {
        font-size: 0.8rem;
      }
      input {
        font-size: 0.8rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    tbody {
      td {
        font-size: 0.5rem;
        max-width: 90px;
        &.table--data {
          width: 40px !important;
        }
      }
    }
  }
  .container__modal--carrito {
    left: 6vw;
    top: 50%;
  }
}
@media all and (min-width: 376px) and (max-width: 659px) {
  .myModal {
    h2 {
      font-size: 1rem;
    }
    img {
      width: 60px !important;
    }
  }
  .titulo-vino {
    h2 {
      font-size: 1rem !important;
    }
  }
  .container__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .comprar__container {
      margin: 5px !important;
      height: 216px;
      width: 160px;
    }
    p {
      font-size: 0.8rem;
    }
    tbody {
      td {
        font-size: 0.5rem;
        max-width: 90px;
        &.table--data {
          width: 40px !important;
        }
      }
    }
  }
  .container__modal--carrito {
    left: 22%;
    top: 50%;
  }
}

@media all and (min-width: 660px) and(max-width:1024px) {
  .myModal {
    img {
      width: 60px !important;
    }
  }
  .titulo-vino {
    h2 {
      font-size: 1.5rem !important;
    }
  }

  .container__data {
    p {
      font-size: 0.8rem;
    }
    tbody {
      td {
        font-size: 0.5rem;
        max-width: 90px;
        &.table--data {
          width: 40px !important;
        }
      }
    }
  }
}
