.navbar {
  justify-content: flex-end !important;
  padding: 5px;
  img {
    width: 80px;
    margin-left: 100px;
  }
  .logo-d-none {
    display: none;
  }
}
.navbar-collapse {
  justify-content: center;
  a {
    transition: 0.3s;
    &:hover {
      transform: translate(-2px);
    }
  }
}
